.layout{
    border: solid ;
    width: 1600px;
    padding: 50px;
    height: 5px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
    display: inline-block;
}

.slider{
    border: solid ;
    width: 1600px;
    padding: 50px;
    height: 100px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    display: inline-block;
}

.base{
    border: solid ;
    width: 1600px;
    padding: 50px;
    height: 430px;
    margin-bottom: 70px;
    margin-left: 100px;
    margin-right: 100px;
    display: inline-block;
}



.caja1{
margin-left: 150px;
}


.caja2{
    margin-left: 80px;
    margin-right: 80px;
}

.caja3{
margin-right: 150px;
}

/*herencia*/
.base> div{
    border: solid ;
    width: 250px;
    padding: 50px;
    height: 340px;
    /*margin: 10px;*/
    /*margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0%;*/
    display: inline-block;
}

.caja1>div{
    width: 230px;
    height: 160px;
    margin: 1px;
    border: double red 1px;

}

.caja2>div{
    width: 230px;
    height: 160px;
    margin: 1px;
    border: double red 1px;

}

.caja3>div{
    width: 230px;
    height: 160px;
    margin: 1px;
    border: double red 1px;

}